$textColor: #fff;
$secondaryTextColor: #000;

$gradient1: rgb(29, 145, 145);
$gradient2: rgb(16, 95, 141);
$gradient3: rgb(16, 88, 129);
$gradient4: rgb(8, 41, 102);
$gradient5: rgb(9, 37, 88);
$gradient6:rgb(37, 28, 117);  
$gradient7:rgb(31, 24, 100);
$gradient8:rgb(73, 26, 126);
